<!doctype html>
<html lang="en" class="scroll-p-20 scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="../../../_app/immutable/entry/start.DFAl7VqO.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/CoAGfW2e.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/nmJ6A6bS.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/DlW3wmKb.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/izTCnmgF.js">
		<link rel="modulepreload" href="../../../_app/immutable/entry/app.DiX-S0oZ.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/C1FmrZbK.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/D7QwtGmi.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/B0bZb3nm.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/D-OODaHY.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_mp07kj = {
						base: new URL("../../..", location).pathname.slice(0, -1),
						assets: "/reading-room"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../../../_app/immutable/entry/start.DFAl7VqO.js"),
						import("../../../_app/immutable/entry/app.DiX-S0oZ.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
