<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="../../../_app/immutable/entry/start.CCD2k0UI.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/entry.CqdXzewi.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/runtime.DT19NChD.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/utils.C6cqFqzY.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/paths.B06V_4Ag.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/index-client.DkGEzZ3P.js">
		<link rel="modulepreload" href="../../../_app/immutable/entry/app.BM-UjQkC.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/preload-helper.C1FmrZbK.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/render.u8TPldGk.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/disclose-version.DEuRjVnR.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/props.El6zu2nO.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/svelte-component.413Ea_3m.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_c2cbx1 = {
						base: new URL("../../..", location).pathname.slice(0, -1),
						assets: "/corpus-ui-sample"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../../../_app/immutable/entry/start.CCD2k0UI.js"),
						import("../../../_app/immutable/entry/app.BM-UjQkC.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
