<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="../../../_app/immutable/entry/start.DK8LKwo8.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/entry.CRQRuqJK.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/utils.s_iYv-Kx.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/control.BsazUMMJ.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/paths.BAFgz7Iz.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/index-client.DZOcoNQN.js">
		<link rel="modulepreload" href="../../../_app/immutable/entry/app.0n-bg6Y1.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/preload-helper.C1FmrZbK.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/render.X3ISH3JE.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/disclose-version.DUNm5iRk.js">
		<link rel="modulepreload" href="../../../_app/immutable/chunks/props.C5BQS2sT.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_ac6cw = {
						base: new URL("../../..", location).pathname.slice(0, -1),
						assets: "/corpus-ui-sample"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../../../_app/immutable/entry/start.DK8LKwo8.js"),
						import("../../../_app/immutable/entry/app.0n-bg6Y1.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
